
   .header {
    height: 100vh;
    background-image: url("../img/banner.jpeg");
    /* Flexbox */
    display: flex;
    align-items: center;
   }

   .carousel-control-next-icon,
   .carousel-control-prev-icon {
     filter: invert(1);
   }


